.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a {
    color: unset;
    background: unset;
}

.skin-blue .sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    background: #fff!important;
}

.skin-blue .sidebar-menu .treeview-menu>li.active>a, .skin-blue .sidebar-menu .treeview-menu>li>a:hover {
    color: unset;
}

.bluecolor
{
	color: #87a8d0!important;
}

.bordermenu
{
		border-bottom: 2px solid #34495E!important;
}

.colorBlack
{
	color: black!important;
}

.colorMain2
{
	background-color: #16a085!important;
}